body {
    background-color: lightgoldenrodyellow;
}

.Webname {
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    color: purple;
}

.Songname {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    color: darkblue;
}

.lyrics {
    text-align: center;
    color: crimson;
}
